{% extends 'website/website.html' %}
{% load i18n %}
{% load static %}

{% block app_content %}
    <div id="website-contact">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="text-center mb-4">
                    <img class="mb-2"
                         src="{% static "website/img/logo.png" %}"
                         alt="" width="100" height="100">
                    <h1 class="h3 mb-3 font-weight-normal">{% trans "contact my creator" %}</h1>
                    <p>{% trans "if you have any question or only want drink some coffee with him" %}</p>
                </div>

                <form method="post" class="form-contact">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>

                    <div class="form-group mb-2">
                        {{ form.message }}
                        {{ form.message.errors }}
                    </div>
                    <button class="btn btn-lg btn-primary btn-block"
                            type="submit">{% trans "send" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block app_view_assets %}
{% endblock %}