-i https://pypi.org/simple/
aniso8601==7.0.0
brotli==1.0.7
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
dj-database-url==0.5.0
django-redis==4.10.0
django==2.2.13
dropbox==9.4.0
graphene-django==2.6.0
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==19.9.0
idna==2.8
joblib==0.14.0
kiwisolver==1.2.0
matplotlib==3.1.1
nltk==3.4.5
numpy==1.17.2
pandas==0.25.1
promise==2.3
psycopg2-binary==2.8.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
redis==3.5.3
requests==2.22.0
rx==1.6.1
scikit-learn==0.21.3
scipy==1.4.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.3.1
unidecode==1.1.1
urllib3==1.25.9
whitenoise[brotli]==4.1.4
