upstream juddith_app_server {
    server unix:///tmp/juddith.sock fail_timeout=0;
    # server unix:///tmp/juddith.sock; # use Unix socket
    # server 127.0.0.1:8000;
}

server {
	listen 80;
	listen [::]:80;

	root /var/www/html/juddith;
	server_name juddith.myserver.com.br;
    charset     utf-8;
    client_max_body_size 4G;

    location /media  {
        alias /var/www/html/juddith/_media;
    }

    location /static {
        alias /var/www/html/juddith/_static;
    }

	location / {
	    # an HTTP header important enough to have its own Wikipedia entry:
        #   http://en.wikipedia.org/wiki/X-Forwarded-For
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        # pass the Host: header from the client right along so redirects
        # can be set properly within the Rack application
        proxy_set_header Host $http_host;

        # we don't want nginx trying to do something clever with
        # redirects, we set the Host: header above already.
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://juddith_app_server;
            break;
        }

        # uwsgi_pass  juddith;
        # include /etc/nginx/uwsgi_params;
        # include     /var/www/html/juddith/juddith/uwsgi_params;
    }

    access_log /var/www/html/juddith/logs/nginx-access.log;
    error_log /var/www/html/juddith/logs/nginx-error.log;

    # Error pages
    error_page 500 502 503 504 /500.html;
    location = /500.html {
        root /var/www/html/juddith/_static;
    }
}
